@charset "UTF-8";

*{
    font-family: Bahnschrift;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #7A7A7A, #e0d2c9);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #7a7a7ac0;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #FFB30D;
    text-align: center;
    text-shadow: 1px 1px 2px #795507;
}

h2 {
    color: #1a8585;
}

p {
    text-align: justify;
    color: black;
}
